<table class="table table-bordered table-stripped">
    <tr>
        <th>Genome</th>
        <th>Fitness</th>
    </tr>
    {{#each genomes}}
        <tr>
            <td>{{this.genome}}</td>
            <td>{{this.fitness}}</td>
        </tr>
    {{/each}}
</table>